<%- include('partials/header.ejs', { title: 'Home' }) %>

<main>
    <h1>The page don't exist anymore</h1>

    <p>
        Sorry, this page have bein deleted before you clicked on it.
    </p>
</main>

<%- include('partials/footer.ejs') %>