<%- include('partials/header.ejs', {
    title: 'New Article',
    buttons: ['back']
}) %>

<main>
    <h1>Form Page</h1>

    <p>
        In this page, you can create or edit articles.
    </p>
</main>

<%- include('partials/footer.ejs') %>