<%- include('partials/header.ejs', {
    title: 'New Article',
    buttons: ['back', 'post'],
    articleId: article.id || null
}) %>

<main>
    <form action="/articles" method="post">
        <input type="text" name="title" placeholder="Title">
        <textarea name="content" placeholder="Content"></textarea>
        <button type="submit">Create</button>
    </form>
</main>

<%- include('partials/footer.ejs') %>