<%- include('partials/header.ejs', { title: 'Home' }) %>

<main>
    <h1>Minimalistic Blog</h1>

    <ul>
        <li><a href="/articles/1"><span>Article 1</span></a></li>
        <li><a href="/form/new"><span>New Article</span></a></li>
    </ul>
</main>

<%- include('partials/footer.ejs') %>