<%- include('partials/header.ejs', { title: 'Home' }) %>

<main>
    <h1>Mindfulness Blog</h1>

    <% if (locals.articlesIndex) { %>
        <!-- TODO: display articles list. Date on the left, article name on the right -->
    <% } else { %> <!-- if (locals.articlesIndex) -->
        <p>No articles yet 🥸</p>
    <% } %> <!-- else -->

</main>

<%- include('partials/footer.ejs') %>